<div class="modal-header">
    <h1>
        Create Form
    </h1>
</div>
<div class="modal-body">



    <form role="form" ng-submit="submitForm()">
        <div class="form-group">
            <label for="fullName">Name</label>
            <input type="text" id="fullName" name="fullName" class="form-control" ng-model="editableEmployee.fullName" />
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea name="notes" id="notes" class="form-control" rows="5" cols="6" ng-model="editableEmployee.notes"></textarea>
        </div>
        <div class="form-group">
            <label for="department">Department</label>
            <select name="department" id="department" class="form-control"
                    ng-model="editableEmployee.department"
                    ng-options="dept for dept in departments"></select>
        </div>
        <br />
        <span><b>Perks</b></span><br />
        <div class="checkbox">
            <label><input type="checkbox" value="perkCar" ng-model="editableEmployee.perkCar" />Company Car</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="perkStock" ng-model="editableEmployee.perkStock" />Stock Options</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="perkSixWeeks" ng-model="editableEmployee.perkSixWeeks" />Six Weeks Vacation</label>
        </div>

        <br />

        <span><b>Payroll Type</b></span><br />
        <div class="radio">
            <label><input type="radio" name="payrollType" value="w2" ng-model="editableEmployee.payrollType" />w2</label><br />
        </div>
        <div class="radio">
            <label><input type="radio" name="payrollType" value="ten99" ng-model="editableEmployee.payrollType" />ten99</label><br />
        </div>
        <div class="radio">
            <label><input type="radio" name="payrollType" value="none" ng-model="editableEmployee.payrollType" />none</label><br />
        </div>
        <br />

        
        <br />
    </form>

</div>
<div class="modal-footer">
    <input type="button"
           class="btn btn-default"
           value="Cancel"
           ng-click="cancelForm()" />

    <input type="submit"
           class="btn btn-primary"
           value="Submit" />
</div>
